@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul") {
  .tabbrowser-tab[pending=true],
  menuitem.alltabs-item[pending=true] {
    opacity: .5;
  }

  #lull-the-tabs-button {
    list-style-image: url("chrome://lull-the-tabs/skin/icon.png");
    -moz-image-region: rect(0px 16px 16px 0px);
  }

  #lull-the-tabs-button:hover {
    -moz-image-region: rect(0px 32px 16px 16px);
  }

  .tabbrowser-tab[bgpending] .tab-label {
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}
